#################
## Visual Studio
#################

[Oo]bj
[Bb]in
*.user
*.userprefs
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
[Tt]humbs.db 
*.dacpac
*.mdf
*.ldf
cs235amDemo-Preferences.userprefs
*.userprefs
*.userprefs
